vault/*.yaml

# ansible-vault create <file-name>

# New Vault password: admin123
# Confirm New Vault password: admin123

# cat <file-name>

# 123142343232543253425345 yevari daggara password untumdho vallu chudachhu 

# ansible-vault view <file-name>

# Vault password: admin123
#  now you can see that, whats there in like any test 

# To edit ansible-vault edit <file-name>
# asking Vault password: admin123


# so Vault ane dhanni GitHub loki push cheyatam safe or not ?? 
# even encripted ina, obviosly safe, but not recommeded to push to Git. so appudu nenu yemi cheyali .gitignore ane file create chesi andulo { vault/*.yaml } ani petti, generally indhulo kuda yemi push avvadu, nenu e passwords ni yekkada pettali, ekkada server lo pettali, git push chesi nappudu Vault ane folder radu. so server lopala create chesukovali. 

# mkdir vault
# cd vault/
# ansible-vault create mysql.yaml ani estunna
# now it asking New Vault password: admin123 ani estunna, miru secure password pettukuntaru obviosuly. 
# confirm New Vault password : admin123

# MYSQL_ROOT_PASSWORD: RoboShop@1
# :wq!
# so ekkda yemi mentioned chesta ante mysql.yaml lo 
# vars_files: 
# - vault/mysql.yaml 

# Acutally manaki passwords unnavi yenti Mysql, rabbitmq... so manam git lo pettakudadhu adi secure kadu so manam ela Vault ane folder roles create chesukoni chestam. 

# eppudu manam mysql lo main.yaml lo password RoboShop@1 tisesi manam {{ MYSQL_ROOT_PASSWORD }} ani istam, mari epppudu vars create cheyali gha, ala cheyakunda mana main.yaml lo ney mention cheysam. 

# ansible-playbook -i inventory.ini mysql.yaml -e "component=mysql"
# ERROR! Attempting to decrypt but no vault secret found,  ani vastumdhi. 
# so edi yemi chepputumdi, miru ichharu vars, nenu e vault lopalaki velli mysql.yaml loki velli chustunna, i found nothing ani error chuspistumdhii. 

# so lekapote adugu ani 
# ansible-playbook -i inventory.ini mysql.yaml -e "component=mysql" --ask-vault-pass
# ani echhaka ela adugutumdhi
# Vault password: admin123

# now it is running, because you know password to decrypt. so ee roles lo unde vars lo confidetional evi yemi pettakudadu. so password kachhitam gha vault lo ney pettali.

# that is about Vault. 


# Interview lo adugutaru, miru ansible lo vault use cheysara ani??? 

# 

